* {
  font-family: 'Open Sans', 'Oswald', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-header {
  background-color: #083D77;
  color: #FFFFFF;
  padding: 1rem;
  margin-bottom: 1rem;
}

.intro {
  margin: 1rem;
}

.adopt-header {
  padding-bottom: 1rem;
}

.dog-form {
  margin: 1rem;
  padding: 1rem;
  background-color: #ECECEC;
}

.form-header {
  padding-bottom: 1rem;
}

.form-questions {
  display: flex;
  justify-content: space-around;
}

.dog-directory {
  display: flex;
  flex-wrap: wrap;
}

.dog-photo {
  width: 300px;
  padding: 1rem;
  margin: 1rem
}