* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* does a grey background need to be bheind entire page? */
/*     */
.top-header {
  background-color: #083D77;
  color: #FFFFFF;
  padding: 1rem;
  margin-bottom: 1rem;
}

.main-content {
  /* margin: 1rem; */
  max-width: 1200px;
  margin: auto;
}

.intro {
  margin: 1rem;
}

.adopt-header {
  padding-bottom: 1rem;
}

.dog-form {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 98%;
  background-color: #ECECEC;
}

.form-header {
  padding-bottom: 1rem;
}

.form-questions {
  display: flex;
}

.quality {
  justify-content: flex-start;
  padding-right: 4rem;
}

.dog-directory {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

.dog-name {
  font-family: 'Oswald';
  font-size: 1.25rem;
}

.dog-info {
  /* justify-content: space-evenly; */
  /* width: 30%; */
  margin-bottom: 2rem;
}

/* how can I get my photos not to overlap?? I want them to wrap but it's not working*/
.dog-photo {
  width: 375px;
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  /* align-content: flex-start; */
  list-style-type: none;
  font-size: .85rem;
  width: 375px;
}

.trait {
  background-color: #91DDEF;
  margin: .25rem 0;
  margin-right: .25rem;
  padding: .35rem;
  border-radius: .75rem;
}

.footer-images {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: center;
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: white;
  line-height: 300px;
  /* border: 2px dashed black; */
}

.donate-image {
  background:
    linear-gradient(rgba(123, 91, 198, 0.5), rgba(123, 91, 198, 0.5)), url(starter_files/images/donate.jpg) center/cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  /* width: 33%; */
  /* border: 2px dashed black; */
}

.volunteer-image {
  background:
    linear-gradient(rgba(123, 91, 198, 0.5), rgba(123, 91, 198, 0.5)), url(starter_files/images/volunteer.jpg) center/cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  /* width: 33%; */

  /* border: 2px dashed black; */
}

.location-image {
  background:
    linear-gradient(rgba(123, 91, 198, 0.5), rgba(123, 91, 198, 0.5)), url(starter_files/images/location.png) center/cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  /* width: 33%; */

  /* border: 2px dashed black; */
}