* {
  font-family: 'Open Sans', 'Oswald', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dog-form {
  background-color: #ECECEC;
}

.form-questions {
  display: flex;
}

.dog-directory {
  display: flex;
  flex-wrap: wrap;
}

.dog-photo {
  width: 300px;
  height: auto;
  padding: 2rem;
}